body {
    padding: 20px;
  }
  button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: salmon;
    border: none;
  }
  button:hover {
    background: lightsalmon;
  }
  .scorebox {
    background-color: #efefef;
    border: 4px solid #efefef;
    border-radius: 10px;
  }
  .score-divider span {
    font-size: 40px;
    font-size: 4rem;
    color: #00aae3;
    font-weight: 200;
  }
  div.score-num,
  div.score-divider {
    font-size: 18px;
    font-size: 1.8rem;
    color: #777777;
    font-weight: 600;
    text-align: center;
  }
  .scorebox {
    box-sizing: border-box;
    width: 195px;
    width: 19.5rem;
    height: 175px;
    height: 17.5rem;
    padding: 5px;
    margin: 0 auto 15px auto;
  }

